<ul>
	<li>
		<a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">Home</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/archive' | prepend: site.baseurl | prepend: site.url }}">Archive</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a><span>/</span>
	</li>
	<!--<li>
		<a href="https://www.dropbox.com/s/q0i7g8mpuyq64fh/adam-perry-resume.pdf?dl=0" target="_blank">Resume</a><span>/</span>
	</li>-->
	<li>
		<a href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url}}">Feed</a><span>/</span>
	</li>
</ul>
